.body-container{
    background-color: #ddd;
}
.main-produccion{
    display: flex;
    flex-direction: column;
    margin: auto 18%;
    color: #ddd;
}
.main-produccion p{
    padding: 10px;
}
#img-princ img{
    width: 100%;
    opacity: 0.9;
}
.img-produ1 img,
.img-produ2 img{
    width: 100%;
}
.container-presentacion{
    color: #3a2603;
    text-align: center;
    padding: 40px 20px;
}
.container-presentacion h1{
    padding: 20px;
}
.container-produ1 h1,
.container-produ2 h1,
.container-produ3 h1,
.container-produ4 h1,
.container-produ5 h1{
    padding-bottom: 20px;
}
.container-produ1,
.container-produ2{
    display: flex;
    place-items: center;
    text-align: center;
    opacity: 0.9;
}
.contenido-produ1,
.contenido-produ2{
    padding: 40px;
    max-width: 50%;
}
.contenido-produ1{
    background-color: #4a7337;
}
.contenido-produ2{
    background-color: #6b8c21;
}
.container-produ1:hover,
.container-produ2:hover,
.container-produ3:hover,
.container-produ4:hover,
.container-produ5:hover{
    opacity: 1;
    transition: 0.5s;
}

.container-produ3 img,
.container-produ4 img{
    width: auto;
    max-height: 325px;
    margin-top: 20px;
}
.container-produ5 img{
    width: 100%;
}
.container-produ3,
.container-produ4,
.container-produ5{
    opacity: 0.9;
    text-align: center;
    padding: 40px;
}
.container-produ3{
    background-color: #d3b27a;
}
.container-produ4{
    background-color: #7e611b;
}
.container-produ5{
    background-color: #3a2603;
    margin-bottom: 50px;
}
.img-produ5{
    margin-top: 20px;
}

@media screen and (max-width: 1020px) {
    .container-produ1,
    .container-produ2{
        flex-direction: column;
    }
    .contenido-produ1,
    .contenido-produ2{
        max-width: 100%;
    }
    .img-produ1{
        order: 1;
    }
    .container-produ3 img,
    .container-produ4 img{
        width: 100%;
        max-height: 0%;
    }
    .img-produ5{
        margin-top: 20px;
    }
}
/* carrusel */

.carrusel {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.images {
    width: 100%;
    height: auto;
    display: flex;
    transition: margin-left 1s, opacity 1s; /* Combina las transiciones en una sola línea */
}
.images {
    display: flex;
    animation: desplazar 30s linear infinite alternate; /* Desplazamiento continuo */
}
.images img {
    width: 100%;
    height: auto;
}

@keyframes desplazar {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%); /* Desplaza las imágenes hacia la izquierda */
   }
}
