.container-store {
    background-image: url(../images/hero-store.jpeg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    padding: 20px;
    height: 500px;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.7);

}

.content-store {
    max-width: 600px;
    margin: 0 auto;
}

.buttons {
    margin-top: 20px;
}

.button {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-right: 10px;
}

.button:hover {
}

/* Estilos para el icono */
.bx {
    vertical-align: middle;
}

.bx-store-alt {
    font-size: 4rem;
}



}

