
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'lato', sans-serif, 'nunito';
    font-size: 1.1rem;
    min-height: 100vh;
    /* padding: 12px; */
    color: #ddd;
    margin: 0;
}

.grid-container > * {
    /* padding: 10px; */
    /* text-align: center; */
    font-weight: 500;
}

.grid-container {
    display: grid;
    grid-template: 
    "header" 120px
    "main" auto
    "footer" 120px;
    
    .header {
        grid-area: header;
    }

    .main {
        grid-area: main;
        background-color: #ddd;
    }

    .footer {
        grid-area: footer;
        background-color: red;
    }



}

.container {
    max-width: 1200px;
    margin: 0 auto;
    /* padding: 20px 38px; */
}

a {
    color: #ddd;
    text-decoration: none;
    font-style: bold;
    font-size: 18px;
}

.nav-link {
    list-style: none;
    margin: 1.5rem 0;
    border-bottom: 2px solid #400;
    width: 7.9rem;
    padding: 0;
}

/* ----------- NAV-BAR ----------  */


.header {
    background-color: #ddd;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
    padding: 10px 10px 20px 10px;
}

.flex-nav {
    display: flex;
    flex-direction: column;
}

.nav-header span {
    color: #594;
}

.nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-header img {
    max-width: 210px;
    padding-top: 8px;
}

.nav-toggle {
    border: transparent;
    background: transparent;
    color: #222;
    font-size: 1.5rem;
    padding-right: 20px;
}

.nav-links {
    height: 0;
    overflow: hidden;
    transition: 0.45s ease-out;
    z-index: 10;
    color:#222;
    margin: 0;
    display: flex;
    justify-content: center;
    text-align: center;
}

.nav-open {
    height: 100vh;
}

.nav-links ul li a {
    color: #200;
}


@media only screen and (min-width: 720px) {
    .nav-toggle {
        display: none;
    }

    .header {
        position: sticky;
        top: 0;
    }

    .nav-header {
        display: block;
    }

    .flex-nav {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 10px;
    }
    .nav-links {
        height: auto;
        padding: 15px 0px;
    }

    ul {
        text-align: center;
    }
    
    .nav-link { 
        display:inline;
        border-bottom: none;
        font-weight: 510;
        color:#222;
        padding: 7px;
        }

    .nav-link a:hover {
        color: #365;
        transition: color 0.4s ease;
    }

    .nav-links span {
        padding: 10px 18px;
        border-radius: 4px;
        text-decoration: none;
        font-weight: bold;
        color: #eee;
        background-color: #400;
        border-radius: 5px;
        transition:  0.3s ease;
        margin-right: 0;
    }

    .nav-links span:hover {
        background-color: #263;
        transition: 0.4s ease;
    }
}


/* ----------- HERO SECTION ----------  */

.hero {
    background-image: url('../images/hero-terratextil.jpg');
    position: relative;
    background-repeat: no-repeat;
    height: 600px;
    overflow: hidden;
    background-size: cover;
    background-position: center top;
    background-attachment: none;

}

.hero img {
    width: 100%;
    /* max-height: 600px; */
    /* object-fit: fill;    */
}

.text-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* max-height: 600px; */
    min-height: 600px;
    background-color: rgba(0, 0, 0, 0.8); 
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #eee;
    text-align: center;
}


.text-overlay h1 {
    padding: 0px 40px;
}

.text-overlay h1 {
    font-size: 26px;
    padding: 0px 40px;
    position: relative;
}

.text-overlay p {
    font-size: 18px;
    margin-top: 1.7rem;
    margin-bottom: 1.7rem;
}

.animate__animated a {
    margin: 10px;
}

@media only screen and (min-width: 720px) {
    .hero {
        max-height: 600px;
    }

    .text-overlay {
        height: 600px;
    }

    .text-overlay h1 {
        margin: 0 auto;
    }

    .text-overlay p {
        margin: 24px;
    }
}

.button {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    background-color: #263;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #400;
}



/* ----------- COLUMN PRODUCTION AND BLOG SECTION ----------  */

.production-section {
    margin-top: 10vh;
    display: flex;
    color: #200;
    flex-direction: column;
}

.column-l {
    padding: 12px;
    /* min-width: 400px; */

}

.column-r {
    padding: 3rem;
    justify-content: center;
    /* text-align: center; */

}

.column-r p {
    margin-top: 16px;
    margin-bottom: 10px;
}

.column-r a {
    color: #243;
}

.column-r a:hover {
    color: #594;
}

.blog-section {
    margin-top: 10vh;
    display: flex;
    color: #200;
    flex-direction: column-reverse;
}

@media only screen and (min-width: 720px) {
    .production-section {
        margin-top: 10vh;
        flex-direction: row;
        max-width: 1200px;
        margin: 0 auto;
    }

    .blog-section {
        margin-top: 10vh;
        display: flex;
        color: #200;
        flex-direction: row-reverse;
        max-width: 1200px;
        margin: 0 auto;
    }
}



/* ----------- THREE COLUMN SECTION ----------  */

.three-columns {

    /* justify-content: space-between; */
    width: 100%;
    margin: 0 auto;
    border: 2px solid darkblue;
    background-color: #8ca;
    text-align: center;
}

.three-columns h3 {
    font: bold;
    font-size: 28px;
    padding: 5vh;
    border: 2px solid red;

}

.why-section {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    min-width: 100%;
    align-content: center;
    justify-content: center;
}

.why-columns {
    display: flex;
    /* flex-direction: row; */
    border: solid purple;
    align-items: center;
    justify-content: center;
    width: 1200px;

}

.why-columns > div {
    flex: 1; 
    /* padding: 20px; Añade padding a cada columna */
    border: 2px yellow solid;
    justify-content: center;
    margin: 10px;
}

  /* Media query para dispositivos móviles */
@media only screen and (max-width: 720px) {
    .why-section {
      flex-direction: column; /* Cambia a columnas en dispositivos móviles */
    }

    .why-columns > div {
      flex: 1 0 100%; /* Que cada columna ocupe el 100% del espacio en móvil */
      padding: 10px; /* Ajusta el padding para móvil si es necesario */
    }
}

