.grid-blog {
    display: grid;
    /* gap: 10px; */
    /* min-height: 100vh; */
    grid-template:
    /* "header" 120px */
    "main" 
    "sidebar"
    "footer" 120px;
    
    .header {
        grid-area: header;
    }

    .main-blog {
        grid-area: main;
    }

    .aside-blog {    
        grid-area: sidebar;
    }

    footer {
        grid-area: footer;
    }



}


main {
    background-color: gold;
}

aside {
    background-color: orange;
    list-style-type: none;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #200;
}

h1 {
    padding-top: 22px;
}

h1, h2, h3 {
    margin: 15px;
    font-weight: 700;
}

p {
    margin: 16px;
    line-height: 1.5;
    font-weight: 400;
}

.img-blog {
    max-width: 100%;
    height: auto;
    margin-top: 18px;
}



footer {
    background-color: red;

}

@media (min-width:760px) {
    .grid-blog {
        grid-template:
        "header header header" 120px
        "main main sidebar" auto
        "footer footer footer" 120px/
        200px auto;
    }
}




