#hero-tienda {
    position: relative; /* Necesario para que el pseudo-elemento se posicione correctamente */
    background-image: url(../images/hero-store.jpeg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    padding: 20px;
    height: 500px;
}


