.grid-blog {
    display: grid;
    /* gap: 10px; */
    /* min-height: 100vh; */
    grid-template:
    /* "header" 120px */
    "main" 
    "sidebar"
    "footer" 120px;
    
    .header {
        grid-area: header;
    }

    .main-blog {
        grid-area: main;
    }

    .aside-blog {    
        grid-area: sidebar;
    }

    footer {
        grid-area: footer;
    }



}


body {
    font-family: 'Arial', sans-serif;
    color: #200; /* Conserva el color de texto original */
    background-color: #f4f4f4; /* Conserva el color de fondo original */
    margin: 0 auto;
    padding: 0;
}

.main-blog {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

.blog-post {
    background-color: #fff; /* Conserva el color de fondo de las publicaciones */
    border: 1px solid #ddd; /* Conserva el color del borde */
    padding: 15px;
}

.meta h2, .meta h3, .meta small {
    margin: 0;
    padding: 0;
}

.meta small {
    color: #666; /* Conserva el color de texto para elementos pequeños */
}

.post img.img-blog {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.aside-blog {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 20px;
}

.posts h1, .comments h2 {
    margin: 0 0 10px 0;
}

.posts ul, .comments ul {
    list-style: none;
    padding: 0;
}

.posts ul li a, .comments ul li a {
    text-decoration: none;
    color: #007bff; /* Conserva el color de los enlaces */
    margin-bottom: 5px;
    display: block;
}

.posts ul li a:hover, .comments ul li a:hover {
    text-decoration: underline;
}




footer {
    background-color: red;

}

@media (min-width:760px) {
    .grid-blog {
        grid-template:
        "header header header" 120px
        "main main sidebar" auto
        "footer footer footer" 120px/
        200px auto;
    }
}




