
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'lato', sans-serif, 'nunito';
    font-size: 1.1rem;
    min-height: 100vh;
    /* padding: 12px; */
    color: #ddd;
    margin: 0;
}

.grid-container > * {
    /* padding: 10px; */
    /* text-align: center; */
    font-weight: 500;
}

.grid-container {
    display: grid;
    grid-template: 
    "header" 110px
    "main" auto
    "footer" 120px;
    
    .header {
        grid-area: header;
    }

    .main {
        grid-area: main;
        background-color: #ddd;
    }

    .footer {
        grid-area: footer;
        background-color: red;
    }



}

.container {
    max-width: 1200px;
    margin: 0 auto;
    /* padding: 20px 38px; */
}

a {
    color: #ddd;
    text-decoration: none;
    font-style: bold;
    font-size: 18px;
}

.nav-link {
    list-style: none;
    margin: 1.5rem 0;
    border-bottom: 2px solid #400;
    width: 7.9rem;
    padding: 0;
}

/* ----------- NAV-BAR ----------  */


.header {
    background-color: #ddd;
    position: fixed;
    width: 100%;
    z-index: 10;
    padding: 10px;
}

.flex-nav {
    display: flex;
    flex-direction: column;
}

.nav-header span {
    color: #594;
}

.nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-header img {
    max-width: 210px;
    padding-top: 8px;
}

.nav-toggle {
    border: transparent;
    background: transparent;
    color: #222;
    font-size: 1.5rem;
    padding-right: 20px;
}

.nav-links {
    height: 0;
    overflow: hidden;
    transition: 0.45s ease-out;
    z-index: 10;
    color:#222;
    margin: 0;
    display: flex;
    justify-content: center;
    text-align: center;
}

.nav-open {
    height: 100vh;
}

.nav-links ul li a {
    color: #200;
}


@media only screen and (min-width: 720px) {
    .nav-toggle {
        display: none;
    }

    .header {
        position: absolute;
    }

    .nav-header {
        display: block;
    }

    .flex-nav {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 10px;
    }
    .nav-links {
        height: auto;
        padding: 15px 0px;
    }

    ul {
        text-align: center;
    }
    
    .nav-link { 
        display:inline;
        border-bottom: none;
        font-weight: 510;
        color:#222;
        padding: 7px;
        }

    .nav-link a:hover {
        color: #365;
        transition: color 0.4s ease;
    }

    .nav-links span {
        background-color: #483;
        padding: 10px 18px;
        border-radius: 4px;
        color: #ddd;
        transition: 0.4 ease;
        margin-right: 0;
    }

    .nav-links span:hover {
        background-color: #263;
        transition: 0.4s ease;
    }
}


/* ----------- HERO SECTION ----------  */

.hero {
    background-image: url('../images/hero-terratextil.jpg');
    /* position: relative; */
    max-height: 550px;
    /* overflow: hidden; */
    background-size: cover;
    background-position: top;

}

.hero img {
    width: 100%;
    max-height: 550px;
    object-fit: cover;   
}

.text-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); 
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #eee;
    text-align: center;
}

.text-overlay h1,
.text-overlay p {
    margin: 0;
}

.text-overlay h1 {
    font-size: 35px;
    padding: 0px 40px;
}

.text-overlay p {
    font-size: 18px;
    margin-top: 1.7rem;
    margin-bottom: 1.7rem;
}

.text-overlay a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #594;
    color: #ddd;
    text-decoration: none;
}

@media only screen and (min-width: 720px) {

}