<footer class="footer">
    <div class="footer-row">
        <div class="footer-div">
            <img src="images/logo-terratextil-2.png" alt="logo-terratextil">
        </div>
        <div class="footer-div">
            <p>Moda sostenible y estilo consciente en Terratextil. ¡Únete a nosotros para un mundo más verde!</p>
        </div>
        <div class="footer-div" id="footer-menu">
            <a href="index.html">Inicio</a>
            <a href="produccion.html">Producción</a>
            <a href="#contacto">Contacto</a>
            <a href="tienda.html">Tienda</a>
        </div>
        <div class="footer-div" id="media">
            <a href="https://www.facebook.com" target="_blank"><i class='bx bxl-facebook'></i></a>
            <a href="https://www.twitter.com" target="_blank"><i class='bx bxl-twitter'></i></a>
            <a href="https://www.instagram.com" target="_blank"><i class='bx bxl-instagram'></i></a>
            
            
        </div>
    </div>
    <div class="footer-row copyright">
        <p>&copy; 2024 TerraTextil - Todos los derechos reservados.</p>
    </div>
</footer>