<header class="header">
    <div class="container flex-nav">
        <div class="nav-header">
            <a href="index.html">
                <img src="images/logo-terratextil.png" alt="logo-terratextil">
            </a>
            <button class="nav-toggle" id="navToggle">
                <i class="fas fa-bars"></i>
            </button>
        </div>
        <nav class="nav-links" id="nav-links">
            <ul>
                <li class="nav-link"><a href="index.html">Inicio</a></li>
                <li class="nav-link"><a href="produccion.html">Producción</a></li>     
                <li class="nav-link"><a href=index.html#contacto>Contacto</a></li>         
                <li class="nav-link"><a href="tienda.html"><span>Tienda</span></a></li>
            </ul>
        </nav>
    </div>
</header>