body {
    font-family: 'lato', sans-serif, 'nunito';
    font-size: 1.1rem;
    margin: 0;
    background-color: #345;
    margin: 0 auto;
    color: #ddd
}

.container {
    display: grid;
    grid-template:
        "header" 120px
        "main" auto
        "footer" 120px;
}

h1, h2 {
    color: #fff;
    text-align: center;
}

.error {
    color: red;
    margin-top: 10px;
    background-color: #00000000;
}

.hidden {
    display: none;
}

#access-granted {
    display: none;
    padding: 10px;
}

.nav-links {
    height: 0;
    overflow: hidden;
    transition: 0.45s ease-out;
    z-index: 10;
    color:#222;
    margin: 0;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}

/* Sección de login */
#login-section {
    padding: 15px;
    width: 300px;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 5px;
}

#login-section h2 {
    text-align: center;
    margin-bottom: 15px;
    font-size: 28px;
}

#login-section label {
    display: block;
    margin-bottom: 5px;
    font-size: 18px;
}

#login-section input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

#button-login {
    width: 100%;
    padding: 10px;
    cursor: pointer;
    background-color: #400;
    color: #eee;
    font-size: 16px;
}

#login-error-message {
    color: #f00;
    margin-top: 10px;
    font-size: 16px;
}

/* Clase oculta */
.hidden {
    display: none;
}

/* Sección principal */
#access-granted {
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    width: 80%;
    max-width: 600px;
}

/* Logo centrado */
.logo-centrado {
    text-align: center;
    margin-top: 50px;
}

/* Encabezado principal */
#access-granted h1 {
    font-size: 30px;
    margin-bottom: 20px;
}

/* Tabla y contenido centrado */
table {
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
}

td {
    padding: 10px;
    text-align: center;
    border-bottom: 2px solid #999;
}

td a {
    text-decoration: none;
    font-size: 16px;
    color: #eee;
}

td a:hover {
    color: #888;
}

/* Ultima fila sin borde inferior */
table tr:last-child td {
    border-bottom: none;
}


/* Formulario */
#formulario {
    padding: 20px;
    background-color: #345;
    max-width: 500px;
    box-sizing: border-box;
    text-align: center;
    margin: 0 auto;
}

/* Etiquetas */
#formulario label {
    display: block;
    margin-bottom: 6px;
    font-size: 18px;
}

/* Campos de entrada */
#formulario input[type="text"],
#formulario input[type="number"],
#formulario input[type="file"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

/* Botón */
#formulario button {
    width: 100%;
    padding: 10px;
    border-radius: 3px;
    cursor: pointer;
    background-color: #400;
    margin-bottom: 10px;
    font-size: 16px;
    color:#eee
}

#formulario button:hover {
    background-color: #500;
}

/* Enlace */
#formulario a, #button-return {
    /* text-decoration: none; */
    font-size: 16px;
    color: #eee;
    display: inline-block;
    margin-top: 10px;
    text-align: center;
    
}

#formulario a:hover, #button-return:hover {
    color: #888
    
    }
