.footer {
    background-color: #345;
    color: white;
    text-align: center;
    padding: 10px;
}
.footer{
    font-family: 'lato', sans-serif, 'nunito';
    font-size: 1.1rem;
    min-height: 100vh;
    /* padding: 12px; */
    color: white;
    margin: 0;
}
.footer a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}
.footer a:hover {
    color: #ddd;
}
.container {
    max-width: 960px;
    margin: 0 auto;
}
.flex-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    width: 100px;
}
.footerprincipal{
   max-height: 110px;
}